/bin
/experiments

# ignore Intellij IDEA/vscode cruft
/.idea
*.iml
/target
.vscode

# ignore Ecplise IDE cruft
.classpath
.project

# ignore results folder
/results
/Results

# ignore some documents
/docs/ChangeLog

# ignore python pyc files
*.pyc

# ignore root-level CSV outputs
/*.csv

# ignore all private data
*.privdata
*.dta
/*-data/
test/
test*

# ignore local bash scripts
*.sh
