/bin
/experiments

# ignore Intellij IDEA/vscode cruft
/.idea
*.iml
/target
.vscode

# ignore Ecplise IDE cruft
.classpath
.project

# ignore results folder
/results
/Results

# ignore some documents
/docs/ChangeLog

# ignore python pyc files
*.pyc

# ignore root-level CSV/PNG outputs
/*.csv
/*.png

# ignore all private data
*.privdata
*.dta
/*-data/
test/
test*
private-datasets/
src/main/resources/experiments/outputs
input-data-versions/

# ignore local bash scripts
*.sh
